<div class="p-6 max-w-lg mx-auto bg-white rounded-lg shadow mt-6" *ngIf="contact">
  <div class="flex justify-between items-center mb-4 border-b pb-2">
      <h2 class="text-xl font-bold">Edit Contact</h2>
      <button mat-button color="warn" (click)="delete()">Delete</button>
  </div>
  
  <form [formGroup]="form" (ngSubmit)="update()" class="flex flex-col gap-4">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Organization</mat-label>
      <mat-select formControlName="org">
        <mat-option *ngFor="let org of organizations$ | async" [value]="org.name">
          {{org.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="flex justify-end gap-2">
      <button mat-button type="button" routerLink="/contacts">Cancel</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Update</button>
    </div>
  </form>
</div>
