.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}
